<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<div class="container" style="height: 90vh;">
  <h1 style="text-align: center; font-size: 4em; margin: auto;">Reinventing Prescription Ordering</h1>
  <p style="text-align: center; font-size: 1.5em; width:65%; margin:auto; margin-top: 2%; margin-bottom: 2%;">T-Rx lets you skip the wait at pharmacies by pre-ordering your prescriptions from anywhere.</p>
  <img src="../sample.png" alt="..."></img>
  <button type="button" class="btn btn-primary btn-lg btn-block" id="howItWorksButton">How it Works</button>
</div>
