<HTML>
  <head>
    <% include ../../partials/head.ejs %>
  </head>
  <body style="background-color: rgb(242, 242, 242);">
    <% include ../../components/navigationBar/navigationBar.ejs %>
    <% include ./components/introduction/introduction.ejs %>
    <% include ./components/howItWorks/howItWorks.ejs %>
    <% include ../../partials/foot.ejs %>
  </body>
</HTML>
